<tr>
 <% if @users.count > 0 %>
  <th>name</th>
  <th></th>
</tr>
<tbody>
 <% @users.each do |user| %>
 <tr>
  <td><%= user.name %></td>
  <td>フォロー数: <%= user.followings.count %></td>
  <td>フォロワー数: <%= user.followers.count %></td>
  <td><%= link_to "Show", user %></td>
 <tr>
 <% end %>
</tbody>
 <% else %>
  <th>ユーザーはいません</th>
<% end %>