<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 my-3"></div>
  <div class="col-md-10 my-3 text-center"><h3>募集一覧</h3></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
     <div class="col-md-8 text-center">
<% @recruitments.each do |recruitment| %>
     <table class="table table-borderless">
        <tbody class="card h-30">
         <tr>
          <td><%= recruitment.user.name %></td>
          <td><%= recruitment.recruitment_post %></td>
         </tr>
         <tr>
           <td></td>
           <td><%= link_to "削除", admins_recruitment_path(recruitment), method: :delete %></td>
         </tr>
        <% end %>
         </tbody>
      </table>
     </div>
    </div>
</div>