<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 my-3"></div>
  　</div>
    <div class="row">
    <div class="col-md-1 pd-2"></div>
    <div class="col-md-8"><h4 class="text-center">会員一覧</h4></div>
    <div class="col-md-2">
      </div>
 <div class="row">
   <div class="col-md-10"></div>
    <div class="col-md-2 text-center">
　　<% @users.each do |user| %>
   <table class="table table-borderless">
      <tbody class="card h-60">
       <tr>
         <td><%= user.id %>
                               <%= link_to admins_user_path(user) do %>
                               <%= user.name %>
                               <% end %>
         </td>
         <td>
           <% if user.is_active == true %>
           <div>有効</div>
           <% elsif user.is_active == false %>
           <div>退会</div>
           <% end %>
         </td>
       </tr>
    </tbody>
   </table>
  <% end %>
  </div>
</div>