<h1>リモート飲み募集</h1>
<div>ここでは様々なサイトなどでリモート飲みを<br>
     楽しむための募集を募る掲示板です。
</div>

<%= link_to "募集する", new_recruitment_path %>

<% @recruitments.each do |recruitment| %>

<%= recruitment.user.name %>
<%= recruitment.recruitment_post %>

<% if recruitment.user == current_user %>
<div>
  <%= link_to "削除", recruitment_path(recruitment), method: :delete %>
</div>
<% end %>

<% end %>

