<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 my-3"></div>
  <div class="col-md-10 my-3 text-center"><h3>リモート飲み募集</h3></div>
  <div class="col-md-10 text-center">ここでは様々なサイトなどでリモート飲みを<br> 楽しむための募集を募る掲示板です。
                                     <br>リンクを貼って他のサイトなどで<br>お楽しみください。
  </div>
  <div class="col-md-10 my-3 text-center"><%= link_to "募集する", new_recruitment_path %></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
     <div class="col-md-8 text-center">
      <% @recruitments.each do |recruitment| %>
       <table class="table table-borderless">
        <tbody class="col-md-10 text-center card h-100">
         <tr>
          <td class="col-md-4">名前</td>
          <td class="col-md-2"><div class="pull-left"><%= recruitment.user.name %></div></td>
         </tr>
         <tr>
          <td class="col-md-4">募集内容</td>
          <td class="col-md-2"><div class="pull-left"><%= recruitment.recruitment_post %></div></td>
         </tr>
         <% if recruitment.user == current_user %>
         <%= link_to "削除", recruitment_path(recruitment), method: :delete %>
         <% end %>
        </div>
   </div>
  </table>
  </tbody>
  </div>
  </div>
<% end %>
</div>
